<header class="header">
    {{ $5marzo_andrew := resources.Get "image/5marzo_andrew.jpg" | fingerprint }}
    <meta property="og:image" content="{{ $5marzo_andrew.Permalink }}" />
    <meta property="og:title" content="{{ .Site.Title }} - Sabato 27 Settembre 2025" />
    <meta property="og:description" content="Ci sposiamo! - Scopri tutti i dettagli del nostro matrimonio." />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Andrew & Niki" />
    
    {{ partial "svgs/wedding-logo-new.svg" . }}
    <p class="header__text header__text--light">...ci sposiamo!</p>
    <p class="header__text header__text--heavy">Sabato, 27 Settembre 2025</p>
</header>