<header class="header">
    <meta property="og:title" content="Andrew & Niki's Wedding 💍" />
    <meta property="og:description" content="Un giorno speciale da condividere. Scopri i dettagli del matrimonio e il nostro viaggio in Argentina!" />
    <meta property="og:url" content="https://niki.andrew.style/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://niki.andrew.style/image/cover.jpg" />
    <meta property="og:site_name" content="Andrew & Niki" />

    {{ partial "svgs/wedding-logo-new.svg" . }}
    <p class="header__text header__text--light">...ci sposiamo!</p>
    <p class="header__text header__text--heavy">Sabato, 27 Settembre 2025</p>
</header>