<div class="nav-mobile">
  <div id="nav-mobile-menu-button" class="nav-mobile__button">
    <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
  </div>
  <nav id="nav-mobile-menu" class="nav-mobile__menu">
    <a class="nav-mobile__link" href="/#when">Il Giorno X</a>
    <a class="nav-mobile__link" href="/#where">Dove</a>
    <a class="nav-mobile__link" href="/#roadmap">Cosa Succede</a>
    <!-- <a class="nav-mobile__link" href="/travel">Dove</a> -->
    <a class="nav-mobile__link" href="#party">La Festa</a>
    <!-- <a class="nav-mobile__link" href="/accommodation">La Festa</a> -->
    <!-- <a class="nav-mobile__link" href="/#dress">Dress</a>
    <a class="nav-mobile__link" href="/#facilities-accessibility">Facilities</a>
    <a class="nav-mobile__link" href="/#gifts">Gifts</a> -->
    <a class="nav-mobile__link" href="/#more">Il Viaggio!</a>
  </nav>
</div>
<nav class="nav-desktop">
  <a class="nav-desktop__link" href="/#when">Il Giorno X</a>
  <a class="nav-desktop__link" href="/#where">Dove</a>
  <a class="nav-desktop__link" href="/#roadmap">Cosa Succede</a>
  <!-- <a class="nav-desktop__link" href="/travel">Dove</a> -->
  <a class="nav-desktop__link" href="#party">La Festa</a>
  <!-- <a class="nav-desktop__link" href="/accommodation">La Festa</a> -->
  <!-- <a class="nav-desktop__link" href="/#dress">Dress</a>
  <a class="nav-desktop__link" href="/#facilities-accessibility">Facilities</a>
  <a class="nav-desktop__link" href="/#gifts">Gifts</a> -->
  <a class="nav-desktop__link" href="/#more">Il Viaggio!</a>
</nav>