<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ .Site.Title }} </title>
        {{ $5marzo_andrew := resources.Get "image/5marzo_andrew.jpg" | fingerprint }}
        <meta property="og:image" content="{{ $5marzo_andrew.Permalink }}" />
        <meta property="og:title" content="{{ .Site.Title }} - Sabato 27 Settembre 2025" />
        <meta property="og:description" content="Ci sposiamo! - Scopri tutti i dettagli del nostro matrimonio." />
        <meta property="og:url" content="{{ .Site.BaseURL }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Andrew & Niki" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no" />
        {{ $favicon := resources.Get "image/favicon.png" | fingerprint }}
        <link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/png">
        
        {{ $css := resources.Get "css/style.css" | fingerprint }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}">        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        {{ block "dynamic_styles" . -}}{{- end }}
    </head>
    <body id="top">
        {{ block "main" . -}}{{- end }}
        {{ $js := resources.Get "js/script.js" | fingerprint }}
        <script src="{{ $js.RelPermalink }}"></script>        
    </body>
</html>
