<header>
    {{ $patagonia := resources.Get "image/patagonia.jpg" | fingerprint }}
    <meta property="og:image" content="{{ $patagonia.Permalink }}" />
    <meta property="og:title" content="{{ .Site.Title }} - Sabato 27 Settembre 2025" />
    <meta property="og:description" content="Ci sposiamo! Scopri i dettagli del nostro viaggio di nozze in Argentina." />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Andrew & Niki" />
</header>