<main>
    <div class="image image1"></div>

    <section id="when" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <h1 class="section__heading">Il grande giorno</h1>
        <section class="section__split">
            <div>
                <p class="section__subheading">Quando</p>
                <p class="section__text--bold">
                    {{ .Params.when }}
                </p>
            </div>
            <div>
                <p class="section__subheading">Dove</p>
                <p class="section__text--bold">
                    {{ .Params.where.first }}
                </p>
                <p>
                    {{ .Params.where.second }}
                </p>
            </div>
        </section>
    </section>

    <div class="image image2"></div>

    <section id="where" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/where" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image3"></div>

    <section id="roadmap" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaves.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/roadmap" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image4"></div>

    <section id="party" class="section light">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/party" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image5"></div>

    <section id="more" class="section light" style="text-align:center;">
        <div class="section__svg">
            {{ partial "svgs/leaf.svg" . }}
        </div>
        <p style="margin-bottom:1em;">Non vediamo l'ora di condividere questo giorno speciale e di avere tutti i nostri cari sotto la stessa tenda, per la prima volta e per sempre!</p>
        <p style="margin-bottom:1em;">Nel frattempo, per qualsiasi domanda scrivete a <a href="mailto:niki@andrew.style">niki@andrew.style</a></p>
        <p style="margin-top:2em;margin-bottom:1em;">*</p>
        <!-- <p style="margin-bottom:1em;">Sapete che l'invito, fatto di carta riciclata con semi di fiori selvatici, può essere piantato?</p>
        <p style="margin-bottom:1em;">Per piantare il vostro invito, consultate le <a href="/plant">istruzioni qui</a>.</p> -->
        <p style="margin-bottom:1em;">Per la nostra luna di miele ci piacerebbe partire alla volta dell'Argentina! ✈️🌕 Ogni contributo da parte vostra ci sarebbe di grande aiuto.</p>
        <p style="margin-bottom:1em;"></p>
        <p style="margin-bottom:1em;">Per saperne di più, <strong>su come supportarci</strong> e sull'itinerario che ci piacerebbe esplorare, <a href="/honeymoon">seguite questo link</a>.</p>
        <p style="margin-top:2em;margin-bottom:1em;">*</p>
        <p style="margin-bottom:1em;">Pubblicheremo anche qualche foto del nostro viaggio e della festa di matrimonio, su questo sito!</p>
    </section>

    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
        </a>
    </div>
</main>